{% extends 'layout.twig' %}

{% block content %}
    <h1>Agregar una tarea</h1>

    {% if statusMessage == -1 %}
        <div class="alert alert-danger" role="alert">{{ responseMessage }}</div>
    {% elseif statusMessage == 1 %}
        <div class="alert alert-success" role="alert">{{ responseMessage }}</div>
    {% endif %}

    <form method="post" action="/projects/php/tasks/add" enctype="multipart/form-data">
        <div>
            <label>
                <input type="text" name="name">
            </label>
        </div>
        <div>
            <label>
                <input type="file">
            </label>
        </div>
        <div>
            <button type="submit">Agregar</button>
        </div>
    </form>

    <a href="/projects/php/">Ver lista de tareas</a>
{% endblock %}