{% extends 'layout.twig' %}

{% block content %}
    <h1>Lista de tareas</h1>
    <ul>
        {% for task in tasks %}
            <li>{{ task.name }}</li>
        {% endfor %}
    </ul>
    <a href="/projects/php/tasks/add">Agregar nueva tarea</a>
{% endblock %}