{% extends 'layout.twig' %}

{% block content %}
    <h1>APP TODO</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/projects/php/login/">Iniciar sesión</a>
        </li>
        <li class="list-group-item">
            <a href="/projects/php/users/">Lista de usuarios</a>
        </li>
        <li class="list-group-item">
            <a href="/projects/php/tasks/">Lista de tareas</a>
        </li>
        <li class="list-group-item">
            <a href="/projects/php/logout/">Cerrar sesión</a>
        </li>
    </ul>
{% endblock %}