{% extends 'layout.twig' %}

{% block content %}
    <h1>Lista de usuarios</h1>
    <ul>
        {% for user in users %}
            <li>
                {{ user.email }}
            </li>
        {% endfor %}
    </ul>
    <ul class="list-group mt-4">
        <li class="list-group-item">
            <a class="btn btn-link" href="/projects/php/users/add/">Agregar un nuevo usuario</a>
        </li>
        <li class="list-group-item">
            <a class="btn btn-link" href="/projects/php/">Volver al inicio</a>
        </li>
    </ul>
{% endblock %}